.page-search {
  background-color: #ffffff;
  color: #333333;
  padding: 2%;
  text-align: center;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  max-width: 80%;
  margin: 100px auto;
  background: #f4f4f4;
  border-radius: 5px;
}

.page-search p {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 10px;
}

.page-search form label {
  display: block;
  margin-bottom: 10px;
}

.page-search input {
  border: 1px solid #6a5acd;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
  width: 40%;
}

.page-search button {
  background-color: #6a5acd;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
}

.page-search button:hover {
  background-color: #c791c7;
}

.page-search a {
  color: #6a5acd;
  font-weight: bold;
  margin-left: 10px;
}

.album {
  display: inline-block;
  width: 15%;
  padding: 1%;
  height: 250px;
  margin: 1%;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ddd;
  background-color: #fff;
  font-size: 80%;
  text-align: center;
  vertical-align: middle;
  transition: all 0.3s ease;
}

.album:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px #ddd;
}

.album p {
  /* padding: 1%; */
  /* height: 50%; */
  font-weight: bold;
  color: #333333;
}

.album img {
  padding: 1%;
  width: 60%;
}
